doctype html
html
	head
		script(src='/js/socket.io.min.js')    
		//script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='/js/jquery-1.11.1.min.js')
		script(src='/js/controller.js')
		link(rel='stylesheet', href='/css/style.css')
		title CONTROLLER
	body
		div#colors 
		div(class="title", id="name") WHAT'S YOUR NAME?
		input(class="textName" id="textName" type="text", name="name") 
		div(class="button") NEXT
		div(id="colors")
		canvas(id="controller" width="640" height="1136")
