doctype html
html
	head
		script(src='/js/socket.io.min.js')    
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='/js/index.js')
		link(rel='stylesheet', href='/css/style.css')
		title INDEX
	body
		h1 INDEX
		div
			div.inlineBlock
				b Participants
				br
				div#participants
		