doctype html
html
	head
		script(src='/js/socket.io.min.js')    
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='/js/controller.js')
		link(rel='stylesheet', href='/css/style.css')
		title CONTROLLER
	body
		h1 CONTROLLER
		div(class="square", id="left", "style"="background-color:purple;")
		div(class="square", id="right", "style"="background-color:orange;")
		div(class="square", id="up", "style"="background-color:blue;")
		div(class="square", id="down", "style"="background-color:green;")
		div(class="square", "style"="background-color:red;")
		div(class="square", "style"="background-color:yellow;")
